* {
    outline: none;
}
a,
button {
    text-decoration: none!important;
    cursor: pointer!important;
    transition: 1s;
}
p {
    line-height: 1.5;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
body {
    margin: 0;
    font-family: 'Circe Regular';
}
.container {
    max-width: 1200px!important;
    width: 100%;
}

.ebook img {
    width: 100%;
    cursor: pointer;
    position: relative;
}
.modal.fade.in {
    opacity: 1;
    display: flex!important;
    align-items: center;
    justify-content: center;
}
.modal .modal-dialog {
    width: 300px;
    margin: 0;
}
.modal .close {
    font-size: 30px;
    color: #fff;
    filter: alpha(opacity=100);
    opacity: 1;
}

/* --- MOBILE --- */
@media (max-width: 767px) {
    
}
@media (min-width: 768px) and (max-width: 991px) {
    
}
@media (min-width: 992px) and (max-width: 1199px) {
    
}
@media (min-width: 1700px) {
    
}